numpy~=1.19.5
scipy~=1.5.4
tensorflow~=2.6.0
tqdm~=4.61.0
matplotlib~=3.3.4
nibabel~=3.2.1
scikit-learn~=0.24.2
tensorflow-addons~=0.13.0
tensorflow-probability~=0.13.0
protobuf~=3.20.1
wandb~=0.12.17